@use "@/scss-global/_placeholders.scss";
@use "@/scss-global/_variables.scss";

@function get-search-results-height(
  $padding-top,
  $padding-bottom,
  $card-height,
  $number-of-cards,
  $gap
) {
  @return calc(
    $padding-top + $padding-bottom + $card-height * $number-of-cards + $gap *
      ($number-of-cards - 1)
  );
}

.search-status-live-region {
  @extend %visually-hidden;
}

.search-results {
  background-color: variables.$background-secondary-color;
  overflow-y: auto;

  position: absolute;
  left: 1rem;
  right: 1rem;
  top: variables.$header-height * variables.$line-height;

  border-radius: variables.$border-radius;
  padding: 1rem;
  max-height: get-search-results-height(1rem, 1rem, 6rem, 4, 1rem);

  & .title {
    @extend %visually-hidden;
  }

  &.hidden {
    visibility: hidden;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > li {
      height: 6rem;
    }
  }
}

@media (min-width: variables.$break-point-mobile) {
  .search-results {
    left: 0;
    right: 0;
    top: calc(variables.$header-height - 0.5rem);
  }
}
