@use "@/scss-global/variables.scss";

.search-results {
  background-color: variables.$background-secondary-color;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  left: 1rem;
  right: 1rem;
  top: variables.$header-height * variables.$line-height;

  border-radius: variables.$border-radius;
  padding: 1rem;
  max-height: 75vh;

  & > div {
    max-height: 6rem;
    min-height: 6rem;
  }
}

@media (min-width: variables.$break-point-mobile) {
  .search-results {
    left: 0;
    right: 0;
    top: calc(variables.$header-height - 0.5rem);

    max-height: calc(
      100vh - variables.$header-height * variables.$line-height - 1rem
    );
  }
}
