.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.games-grid {
  display: grid;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
