@use "@/scss-global/_mixins.scss";
@use "@/scss-global/_variables.scss";

@mixin link-focus {
  background-color: variables.$link-color;
  box-shadow: none;
  outline: none;
  transform: scale(1.05);
}

.link {
  background-color: #ffffff;
  color: #000000;

  @include mixins.transition(transform, background-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border: none;
  border-radius: variables.$border-radius;

  @include mixins.padding(0.4rem, 0.7rem, 0.4rem, 0.7rem);

  &-icon {
    height: 1.5rem;
  }

  &:focus-visible {
    @include link-focus;
  }
}

@media (hover: hover) {
  .link:hover {
    @include link-focus;
  }
}
