@use "@/scss-global/variables.scss";

// Box

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

// Transitions

@function combine-transition-properties($properties...) {
  $combined: "";
  @each $property in $properties {
    $combined:
      #{$combined},
      $property 150ms ease-in-out;
  }
  @return $combined;
}

@mixin transition($properties...) {
  transition: combine-transition-properties($properties...);
}

// Skeleton loader

@mixin skeleton-loader-background() {
  background: linear-gradient(
    90deg,
    variables.$font-primary-color,
    variables.$font-secondary-color
  );
  background-size: 200%;
  opacity: 0.25;

  animation: skeleton-loader-shine 2s infinite reverse;
}

@keyframes skeleton-loader-shine {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}
