$background-primary-color: #151515;
$background-secondary-color: #202020;
$font-primary-color: #ffffff;
$font-secondary-color: #a4a4a4;
$link-color: #99c3ff;

$border-radius: 0.25rem;
$header-height: 3rem;
$line-height: 1.5;
$root-padding: 1rem;

$transition-duration: 0.15s;
$transition-type: ease-in-out;

$break-point-mobile: 601px;
