@use "@/scss-global/_mixins.scss";
@use "@/scss-global/_variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  height: variables.$header-height;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: variables.$border-radius;
  height: 100%;
  min-width: max-content;

  &__logo {
    height: 100%;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 700;

    display: none;
  }
}

@media (min-width: variables.$break-point-mobile) {
  .home-link__text {
    display: inline-block;
  }
}

@media (hover: hover) {
  .home-link:hover {
    @include mixins.transition(transform);
    transform: scale(1.03);
  }
}
