@use "@/scss-global/variables.scss";
@use "@/scss-global/mixins.scss";

$header-font-size: 1.5rem;

@mixin search-input-in-work {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' height='70%25'%3E%3Cpath d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z' /%3E%3C/svg%3E");
  color: #000000;
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  height: variables.$header-height;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: variables.$border-radius;
  height: 100%;
}

.home-link:focus-visible {
  @include mixins.plain-link-focus;
}

.logo {
  height: 100%;
}

.home-link-text {
  font-size: $header-font-size;
  font-weight: 700;

  display: none;
}

.search-input {
  appearance: none;
  background-color: variables.$background-secondary-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23A4A4A4'%3E%3Cpath d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: $header-font-size;
  background-position: 0.5rem center;
  color: variables.$font-secondary-color;

  transition:
    background-color variables.$transition-duration variables.$transition-type,
    color variables.$transition-duration variables.$transition-type;

  border: none;
  border-radius: variables.$border-radius;
  padding: 0.25rem 0.75rem 0.25rem $header-font-size * variables.$line-height;
  height: $header-font-size * variables.$line-height;
  min-width: calc(100% - 2 * variables.$header-height);
}

.search-input:focus {
  @include search-input-in-work;
}

@media (min-width: variables.$break-point-mobile) {
  .home-link-text {
    display: inline-block;
  }

  .search-input {
    min-width: 50%;
  }
}

@media (hover: hover) {
  .home-link:hover {
    transform: scale(1.03);
    transition: transform variables.$transition-duration
      variables.$transition-type;
  }

  .search-input:hover {
    @include search-input-in-work;
  }
}
