@use "@/scss-global/variables.scss";
@use "@/scss-global/mixins.scss";

$description-width: 50ch;

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  margin-top: 1rem;
  min-height: calc(100vh - 2rem - variables.$header-height);
  padding-bottom: 1rem;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description {
  background-color: variables.$background-secondary-color;
  border-radius: variables.$border-radius;

  padding: 1rem;
  max-width: $description-width;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
}

.source-links-wrapper {
  background-color: variables.$background-secondary-color;
  border-radius: variables.$border-radius;

  display: flex;
  gap: 1rem;
  justify-content: center;

  padding: 1rem;
  max-width: $description-width;
}

.background-video {
  filter: opacity(0.5);
  object-fit: cover;

  position: fixed;
  inset: 0;
  z-index: -1;

  min-height: 100vh;
  min-width: 100vw;
}
